{% extends "home/base.html" %}
{% load static %}

{% block content %}

    <div class="section">


        <img src="{% static 'web pics/p1.jpg' %}">

        <div class="content">
            <h1 class="home-title">AEROARTZ</h1>
            <p> Hey there! Thanks for stopping by. Im Abdul Rehman, an artist whose passion is
            driven by the beauty of outdoors.Here you can explore my artwork</p>
            <button class="button" style="vertical-align:middle" onclick="window.location.href={% url 'org' %};">
                <span>Check out my art</span>
            </button>
        </div>
    </div>
{% endblock content %}
